<ion-content>
  
  <div class="padding">
<ion-item>
  <ion-label color="black">Email</ion-label>
  <ion-input color="black" placeholder="Adresse email" type="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="black">Mot de passe</ion-label>
  <ion-input color="black" placeholder="Mot de passe" type="password"></ion-input>
</ion-item>
<ion-item lines = "none">
  <ion-button  color="black" fill="clear" slot="end">Mot de passe oublié ?</ion-button>
</ion-item>

<ion-button href="http://localhost:8101/tabs/tab3" fill="outline" shape="round" expand="block">Connexion</ion-button>
<br>


</div>

</ion-content>
