<ion-header [translucent]="true">
  <ion-toolbar>
    <center>
    <ion-title>
      ESPACE
    </ion-title>
  </center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://lh3.googleusercontent.com/proxy/u9yol-rZSuQ6QPgPI55F9DoRhYZxU92xhHFTo61O5xnWy9wPV6rciWlo-ymOEqnUsiuk-4Pz6P5sw5JAZZFrw7Fe7a1MOQ1yvKn5q8vTyKp7" width="60">
  <div class="vertical">


  <center>

  <ion-button class="prof">professeur</ion-button>

  </center>
  <center>
  <ion-button class="eleve">stagiaire</ion-button>
  </center>
</div>

<div class="devnoteweb">
  <center>
    <p>DEVNOTEWEB</p>
  </center>
</div>

<div class="connexion">
  <center>
    <p2>CLICK POUR TE CONNECTER</p2>
  </center>

</div>
</ion-content>
