<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Note
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Elèves</ion-card-subtitle>
    <table>
   <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Nom :</th>
           <th>Note       :</th>
       </tr>
   </thead>
   <tfoot> <!-- Pied de tableau -->
       <tr>
           <th>Moyenne General :</th>
           <th>15.75</th>
       </tr>
   </tfoot>
   <tbody> <!-- Corps du tableau -->
       <tr>
           <td>SINI </td>
           <td class=notes>10 / 15 / 18 / 20 </td>
       </tr>
   </tbody>
</table>
  </ion-card-header>
</ion-card>
<ion-card>
      <ion-card-subtitle>Evolutions</ion-card-subtitle>
<img src = "https://media.discordapp.net/attachments/899724635422195712/903634203328012328/evltion.png?width=650&height=330">
</ion-card>
<ion-card>
</ion-card>
</ion-content>
<ion-buttons slot="start">
      <ion-button Href="http://localhost:8101/tabs/tab3">Retour</ion-button>
    </ion-buttons>

   